	*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}

body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;}

section{width:100%; max-width:1200px; margin:0px auto; display:table; position:relative;}

h1{margin:0px auto; display:table; font-size:26px; padding:40px 0px; color:#002e5b; text-align:center;}

h1 span{font-weight:500;}

header{width:100%; display:table; background-color:#AED6F1; margin-bottom:50px;}


nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    float: left;
    width:10%;
    padding:20px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
     color:#000;
    }
#imagen{
	 padding: 10px;
	 margin: 10px; 
	 border: 2px solid black; 
	 float: left; 
	 max-width: 100%;
	 height: auto;

}
